<!-- This is the HTML page of the bot (it will show when your bot url is called in browser) -->
<!DOCTYPE html>
<html>
<head>
	<title>WizyRoom Sample Bot</title>
	<style type="text/css">
		html {
		    font: normal 13px arial, sans-serif;
		}
		h1{
			text-align: center;
		}
	</style>
</head>
<body>
	<center><img src="/bot.png"></center>
	<h1>Hello I'm a WizyRoom Hello-World-Chatbot</h1>
</body>
</html>